{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"> <!--character encoding-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="descption" content="A page for configuring FactorySmart inspection">
        <title> FactorySmart Inspection</title>
        <link rel="stylesheet" href="{% static 'inspection/style-grid.css' %}" type="text/css" media="all">
        <link rel="stylesheet" href="{% static 'inspection/style.css' %}" type="text/css" media="all">
        <link rel="stylesheet" href="{% static 'inspection/led/src/led.css' %}" type="text/css" media="all">
        <script src="{% static 'inspection/jquery/src/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'inspection/chart/src/3.7.0/Chart.min.js' %}"></script>
        <script src="{% static 'inspection/led/src/led.js' %}"></script>
    </head>
    <body>
        <div class="content">
            <div id="site">
                <div id="title-container" class="grid-item">
                    <span class="title-text">{{ ui.title }}</span>
                </div>
                
                <div id="logo-container" class="grid-item">
                    <img id="img_logo" src="{% static 'inspection/media/lmi_technologies_RGB.png' %}">
                </div>
                <div id=runtime-image-container>
                    <!-- <div id="image-s0-container" class="grid-item"> -->
                        <canvas id="media-canvas-0" ></canvas>
                        <script type='module'>
                            import{init_media} from "{% static 'inspection/init_ui.js' %}"
                            console.log('Initialize media.');
                            var parent_div_object=document.querySelector('#runtime-image-container');
                            var canvas_object=document.querySelector('#media-canvas-0');
                            var media_type=parseInt('{{ ui.media_type | escapejs }}');
                            init_media(parent_div_object,canvas_object,media_type);
                        </script>
                    <!-- </div> -->
                    
                    <!-- <div id="image-s1-container" class="grid-item">
                    </div>

                    <div id="image-s2-container" class="grid-item">
                    </div> -->

                </div>
                
                <!-- <div id="info_top-container">
                    <div id="grade-container" class="grid-item">

                        <span class="info-text">{{ ui.info_display_0_label }}</span>
                        <span class="data-text" id="display_0_value">--</span>
                    </div>
                    <div id="score-container" class="grid-item">
                        <span class="info-text">{{ ui.info_display_1_label }}</span>
                        <span class="data-text" id="display_1_value">--</span>
                    </div>
                </div> -->
                
                <div id="config-container">
                    <div id="config-box" class="grid-item">
                        {% block content %}
                        {% endblock %}
                    </div>       
                </div>
                <div id="tab-container">
                    <div class="grid-item">
                        <input id="sensor-button" class="config-button" type="button" value="Sensor">
                    </div>
                    <div class="grid-item">
                        <input id="model-button" class="config-button" type="button" value="Model">
                    </div>
                    <div class="grid-item">
                        <input id="automation-button" class="config-button" type="button" value="Automation">
                    </div>
                </div>
                
                <div id="inside-charts-container">
                    <div id="param_0_plot-container">
                            <canvas id=param_0_plot></canvas>
                            <script type='module'>
                                // initialize plot 0
                                import{init_plot} from "{% static 'inspection/init_ui.js' %}"
                                var parent_div_object = document.querySelector('#param_0_plot-container');
                                var canvas_object = document.querySelector('#param_0_plot');
                                if (true) {
                                    console.log('Initialize plot 0.');
                                    var plot_i = '{{ ui.plot_0 }}';
                                    var buffer = '{{ ui.plot_0_buffer | escapejs }}';
                                    var xinit = '{{ ui.plot_0_xinit | escapejs }}';
                                    var yinit = '{{ ui.plot_0_yinit | escapejs }}';
                                    var xlabel = '{{ ui.plot_0_xlabel | escapejs }}';
                                    var ylabel = '{{ ui.plot_0_ylabel | escapejs }}';
                                    init_plot(parent_div_object,canvas_object,parseInt(plot_i),parseInt(buffer),parseFloat(xinit),parseFloat(yinit),xlabel,ylabel);
                                }
                            </script>
                    </div>
                    
                    <div id="param_1_plot-container" >
                        <canvas id=param_1_plot></canvas>
                        <script type='module'>
                            // initialize plot 1
                            import{init_plot} from "{% static 'inspection/init_ui.js' %}"
                            var parent_div_object = document.querySelector('#param_1_plot-container');
                            var canvas_object = document.querySelector('#param_1_plot');
                            if (true) {
                                console.log('Initialize plot 1.');
                                var plot_i = '{{ ui.plot_1 }}';
                                var buffer = '{{ ui.plot_1_buffer | escapejs }}';
                                var xinit = '{{ ui.plot_1_xinit | escapejs }}';
                                var yinit = '{{ ui.plot_1_yinit | escapejs }}';
                                var xlabel = '{{ ui.plot_1_xlabel | escapejs }}';
                                var ylabel = '{{ ui.plot_1_ylabel | escapejs }}';
                                init_plot(parent_div_object,canvas_object,parseInt(plot_i),parseInt(buffer),parseFloat(xinit),parseFloat(yinit),xlabel,ylabel);
                            }
                        </script>
                    </div>

                </div>
                <!-- <div id="outside-charts-container">
                    <div id="param_3_plot-container" >
                        <canvas id=param_3_plot></canvas>
                    </div>
                    <div id="param_4_plot-container" >
                        <canvas id=param_4_plot></canvas>
                    </div>
                    <div id="param_5_plot-container" >
                        <canvas id=param_5_plot></canvas>
                    </div>
                </div> -->
                
                <div id="info_bottom-container" class="grid-item">
                  <div id='info_bottom_text_container'>
                    <span class="info-text">{{ ui.info_display_2_label }}</span>
                    <span class="data-text" id="display_2_value">--</span>
                  </div>
                    <form id ='reset-button' method="post" action="{% url 'inspection:event_reset' %}">
                        {% csrf_token %}
                        <input  id="reset-button-selector" type="submit" value="Event Reset">
                    </form>
                </div>
                <div id="play-container" class='grid-item'>
                    <form id="play-button" method="post" action="{% url 'inspection:start_stop' %}">
                        {%csrf_token%}
                    <input id="play-button-selector" type=submit value= 
                    {% if is_running %}
                        STOP
                    {% else %}
                        START
                    {% endif %}>
                    </form>
                </div>
                <div id="led-container" class="grid-item" >
                     
                    <div class="led-box">
                        <div id="ready_sensor_0" class="led-red" style = "display: inline-block;"></div>
                        <!-- <p>Sensor 1</p> -->
                        <!-- <div id="ready_sensor_1" class="led-red" style = "display: inline-block;"></div> -->
                        <!-- <p>Sensor 2</p> -->
                        <!-- <div id="ready_sensor_2" class="led-red" style = "display: inline-block;"></div> -->
                        <!-- <p>Sensor 3</p> -->     
                        <p>Sensor</p>
                    </div>
                    <div class="led-box">
                        <div id="ready_pipeline_0" class="led-red"></div>
                        <p>Pipeline</p>
                    </div>
                    <div class="led-box">
                        <div id="ready_automation" class="led-red"></div>
                        <p>Automation</p>
                    </div>
                    <div class="led-box">
                        <div id="ready_cloud" class="led-red"></div>
                        <p>Cloud</p>
                    </div>    
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'inspection/base.js' %}"></script>
    <script type='module' src="{% static 'inspection/update_ui.js' %}"></script>>
</html>


