{% extends "inspection/base.html" %}
{% block content %}

{% load static %}

<div class=config-input_text>
    <form method="POST" action="{% url 'inspection:config_job' %}"> 
        {% csrf_token %}
        {{ form_choose_job.as_p }}
        <input type="submit" class="config-button" name="form_type" value="Load Job">
        <input type="submit" class="config-button" style="margin-top: 1%" name="form_type" value="Update Job">
    </form>

    <form method="POST" action="{% url 'inspection:config_job' %}">
        {% csrf_token %}
        {{ form_create_new_job.as_p }}
        <input type="submit" class="config-button" name="form_type" value="Create New Job">
    </form>
    
</div>


{% endblock %}