{% extends "inspection/base.html" %}
{% block content %}

{% load static %}
<div id="image-s0-container" class="grid-item-canvas">
    <canvas id="media-canvas-0" ></canvas>
    <script type='module'>
        import{init_media} from "{% static 'inspection/init_ui.js' %}"
        console.log('Initialize media.');
        var parent_div_object=document.querySelector('#image-s0-container');
        var canvas_object=document.querySelector('#media-canvas-0');
        var media_type=parseInt('{{ ui.media_type | escapejs }}');
        init_media(parent_div_object,canvas_object,media_type);
    </script>
</div>

<div id="image-s1-container" class="grid-item-canvas">
    <canvas id="media-canvas-1" ></canvas>
    <script type='module'>
        import{init_media} from "{% static 'inspection/init_ui.js' %}"
        console.log('Initialize media.');
        var parent_div_object=document.querySelector('#image-s1-container');
        var canvas_object=document.querySelector('#media-canvas-1');
        var media_type=parseInt('{{ ui.media_type | escapejs }}');
        init_media(parent_div_object,canvas_object,media_type);
    </script>
</div>

<div id="image-s2-container" class="grid-item-canvas">
    <canvas id="media-canvas-2" ></canvas>
    <script type='module'>
        import{init_media} from "{% static 'inspection/init_ui.js' %}"
        console.log('Initialize media.');
        var parent_div_object=document.querySelector('#image-s2-container');
        var canvas_object=document.querySelector('#media-canvas-2');
        var media_type=parseInt('{{ ui.media_type | escapejs }}');
        init_media(parent_div_object,canvas_object,media_type);
    </script>
</div>

<div id="image-s3-container" class="grid-item-canvas">
    <canvas id="media-canvas-3" ></canvas>
    <script type='module'>
        import{init_media} from "{% static 'inspection/init_ui.js' %}"
        console.log('Initialize media.');
        var parent_div_object=document.querySelector('#image-s3-container');
        var canvas_object=document.querySelector('#media-canvas-3');
        var media_type=parseInt('{{ ui.media_type | escapejs }}');
        init_media(parent_div_object,canvas_object,media_type);
    </script>
</div>

<div id="image-s4-container" class="grid-item-canvas">
    <canvas id="media-canvas-4" ></canvas>
    <script type='module'>
        import{init_media} from "{% static 'inspection/init_ui.js' %}"
        console.log('Initialize media.');
        var parent_div_object=document.querySelector('#image-s4-container');
        var canvas_object=document.querySelector('#media-canvas-4');
        var media_type=parseInt('{{ ui.media_type | escapejs }}');
        init_media(parent_div_object,canvas_object,media_type);
    </script>
</div>

<div id="image-s5-container" class="grid-item-canvas">
    <canvas id="media-canvas-5" ></canvas>
    <script type='module'>
        import{init_media} from "{% static 'inspection/init_ui.js' %}"
        console.log('Initialize media.');
        var parent_div_object=document.querySelector('#image-s5-container');
        var canvas_object=document.querySelector('#media-canvas-5');
        var media_type=parseInt('{{ ui.media_type | escapejs }}');
        init_media(parent_div_object,canvas_object,media_type);
    </script>
</div>

{% endblock %}