{% extends "inspection/base.html" %}
{% block content %}

{% load static %}

<div id="image-s0-container" class="grid-item-config">
    <h1 class=config-title_text>Top</h1>
    <div class="grid-item">
        <div class=config-input_text>
            <form method="POST" action="{% url 'inspection:pipeline_config' 'gadget-pipeline-top' 0 %}">
                {% csrf_token %}
                {{ form_change_pipeline_0.as_p }}
                <input type="submit" class="config-button" name="form_type" value="Change Pipeline Parameters">
            </form>    
        </div>
    </div>
</div>

<div id="image-s1-container" class="grid-item-config">
    <h1 class=config-title_text>Bottom</h1>
    <div class="grid-item">
        <div class=config-input_text>
            <form method="POST" action="{% url 'inspection:pipeline_config' 'gadget-pipeline-bottom' 0 %}">
                {% csrf_token %}
                {{ form_change_pipeline_1.as_p }}
                <input type="submit" class="config-button" name="form_type" value="Change Pipeline Parameters">
            </form>    
        </div>
    </div>
</div>

<div id="image-s2-container" class="grid-item-config">
    <h1 class=config-title_text>Side Left</h1>
    <div class="grid-item">
        <div class=config-input_text>
            <form method="POST" action="{% url 'inspection:pipeline_config' 'gadget-pipeline-side' 0%}">
                {% csrf_token %}
                {{ form_change_pipeline_2.as_p }}
                <input type="submit" class="config-button" name="form_type" value="Change Pipeline Parameters">
            </form>    
        </div>
    </div>
</div>

<div id="image-s3-container" class="grid-item-config">
    <h1 class=config-title_text>Side Right</h1>
    <div class="grid-item">
        <div class=config-input_text>
            <form method="POST" action="{% url 'inspection:pipeline_config' 'gadget-pipeline-side' 1 %}">
                {% csrf_token %}
                {{ form_change_pipeline_3.as_p }}
                <input type="submit" class="config-button" name="form_type" value="Change Pipeline Parameters">
            </form>    
        </div>
    </div>
</div>

{% endblock %}