{% extends "inspection/base.html" %}
{% block content %}

{% load static %}

<div class=config-input_text>
        <form method="POST" action="{% url 'inspection:sensor_config' %}"> 
            {% csrf_token %}
            {{ form_choose_sensor.as_p }}
            <input type="submit" class="config-button" name="form_type" value="Choose Sensor">
        </form>
    
        <form method="POST" action="{% url 'inspection:sensor_config' %}">
            {% csrf_token %}
            {{ form_change_sensor.as_p }}
            <input type="submit" class="config-button" name="form_type" value="Change Sensor Parameters">
        </form>
        
    </div>


{% endblock %}