#configs {
    height: 100vh;
    background-color: #000000;
}

.header {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: #1D1F23;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  display: flex;
  box-sizing: border-box; 
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
  
.body {
  display: flex;
  background-color: #32353A;
  height: 100%;
  overflow-y: auto;
  background-color: #1D1F23;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  display: flex;
  box-sizing: border-box; 
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.accordion-container {
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  .accordion-item {
    border-color: #33353d !important;
    background-color: #21252c !important;
    color: #ccccde !important;
  }
  .accordion-button:not(.collapsed) {
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #33353d !important;
  }
  .accordion-button:focus {
    border-color: #33353d !important;
    box-shadow: 0 0 0 0rem #33353d !important;
  }
  .row {
    padding-bottom: 2px;
    padding-top: 2px;
  }
  .table {
    --bs-table-border-color: transparent;
    --bs-table-color: #ccccde;
    --bs-table-bg: #272e35;
    --bs-table-striped-color: #ccccde;
    --bs-table-striped-bg: rgba(204, 204, 222, 0.05);
    --bs-table-active-color: #ccccde;
    --bs-table-active-bg: rgba(51, 53, 61, 0.1);
    --bs-table-hover-color: #4394f9;
    --bs-table-hover-bg: rgba(51, 53, 61, 0.075);
  }    
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px;

}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.add-user-form {
  display: flex;
  flex-direction: column;
}

.add-user-modal {
  display: flex;
  align-content: center;
  justify-content: center;
}

.add-user-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 12;
  margin: 0;
  padding: 0;

}

.success-message {
  color: green;
  font-size: 12;
  margin: 0;
  padding: 0;
}