

.button-container {
    display: flex;
    align-items: center;
   
}

.button-container .button {
    height: 65%;
    width: 95%;
    margin-left: 4px;
}

.start-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.start-stop-button {
    height: 100%;
    width: 95%;
}