

.fragment {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.text-form {
    max-width: 50%;
    width: auto;
}

.number-form {
    max-width: 15%;
}