.img_logo {
    height: 7vh; 
    width: auto;
}

.app-name {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.button-col {
    display: flex;
    justify-content: right;
    align-items: center;
}
