
.modal {
    width: 100%;
    .modal-header {
        background-color: white;
    }
    .modal-body {
        border-color: #33353d !important;
        background-color: #21252c !important;
        color: #ccccde !important;
        height: 100%;
        width: auto;
    }
}

