
.header-content {
    display: flex;
    color: rgb(255, 255, 255);
    height: 7vh; 
    background-color: #1D1F23;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    display: flex;
    box-sizing: border-box; 
    margin-bottom: 6px;
    padding: 0 10px;

  }
  
  .body-content {
      display: flex;
      height: 85vh;
      background-color: rgb(29, 21, 35);
      justify-content: center;
      align-content: center;
      margin-bottom: 4px;  
      
  }
  
  .footer-content {
    color: white;
    height: 7vh; 
    background-color: #1D1F23;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 10px;
    display: flex; 
    align-items: center; 
    justify-content: left; 
  }

  .top-level {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: rgb(29, 21, 35);
    align-items: center;
    justify-content: center;
  }

  